img {
  width: 20%;
  height: 20%;
}

.productList {
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
}

.product {
  flex-basis: 200px;
  padding: 1rem;
  margin: 0.5rem;
  display: flex;
}

h4, p {
  color: grey;
}
